<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ManipulationDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <!--<runtime>
        <AppContextSwitchOverrides value="Switch.System.Windows.Input.Stylus.EnablePointerSupport=true"/>
    </runtime>-->
    <userSettings>
        <ManipulationDemo.Properties.Settings>
            <setting name="IgnoredMsgs" serializeAs="String">
                <value>3,5,6,7,8,13,14,15,19,20,24,25,28,31,32,36,61,70,71,124,125,127,131,132,133,134,160,161,174,274,281,282,283,356,522,526,532,533,534,561,562,641,642,674,675,725,799,49283,49343,49586,</value>
            </setting>
        </ManipulationDemo.Properties.Settings>
    </userSettings>
</configuration>
